body{
    background-color: white;
    margin: 1em;
}
h4{
    font-size: 18px;
}
.first-section{
    color: green;
    font-size: 14px;
    font-weight: bold;
}
.italic-style-ol, .italic-style-ul, th{
    font-style: italic;
}
.second-section{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.third-section{
    color: blue;
    font-size: 14px;
    font-weight: bold;
}
 td{
    border: 1px solid black;
    padding: 1em;
}